@{
    ViewBag.Title = "About";
}

<div data-role="page">


    <div data-role="header">
        <h2>About</h2>
    </div>
    <div data-role="content">
        This is the about content.
    </div>
</div>
