@model IEnumerable<MvcMusicStore.Models.Genre>
@{
    ViewBag.Title = "Store";
    ViewBag.PageId = "Store";
}

<h3>Browse Genres</h3>

<p>
    Select from @Model.Count() genres:</p>
<ul data-role="listview" data-inset="true" data-filter="true" id="genrelist">
    @foreach (var genre in Model)
    {
        <li>@Html.ActionLink(genre.Name, "Browse", new { genre = genre.Name })</li>
    }
</ul>
